# Function dependencies, for example:
# package>=version

flask_api
google-cloud-pubsub
google-cloud-bigquery
ais-tools@git+https://github.com/GlobalFishingWatch/ais-tools@564685202c4b2338d30b49413a32c23334f0fc9c
