# Function dependencies, for example:
# package>=version

flask_api
google-cloud-pubsub
google-cloud-bigquery
ais-tools@git+https://github.com/GlobalFishingWatch/ais-tools@c35f072d7e7d8d38d3e41bc89a7697976a0256e5
